rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{document=**} {
    
    	function isCollectionOwner(userId){
      	return request.auth != null && request.auth.uid == userId;
      }
      
      allow create,read, write, delete, update: if isCollectionOwner(collection);
    }
  }
}